<div id="checkout" ng-show="!showConfirm">
	<h2>Order Information</h2>
	<form id="orderForm" ng-submit="submitOrder()"> 
		<h4>Shipping Information</h4>
			<div id="shippingInfo">
				<div class="row">
					<div class="six columns">
						<label for="shipName">Name: </label> <input class="u-full-width" ng-model="ship.name" 
							id="shipName" type="text" required />
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<label for="shipAdd">Address: </label> <input class="u-full-width" ng-model="ship.add" 
							id="shipAdd" type="text" required />
					</div>
					<div class="six columns">
						<label for="shipAdd2">Address 2: </label> <input class="u-full-width" ng-model="ship.add2"  
						id="shipAdd2" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="six columns">
							<label for="shipCity">City: </label> <input class="u-full-width" ng-model="ship.city" 
							id="shipCity" type="text" required />
					</div>
					<div class="six columns">
						<label for="shipState">State: </label> 
							<select required class="u-full-width" id="shipState" ng-model="ship.state">
							  	<option value="">Select State</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District Of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
						     </select>
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<label for="shipZip">Zip: </label> <input class="u-full-width" ng-model="ship.zip" 
							id="shipZip" type="number" required />
					</div>
					<div class="six columns">
						<label for="shipPhone">Phone: </label> <input class="u-full-width" ng-model="ship.phone" 
							id="shipPhone" type="tel" required />
					</div>
				</div>
			</div>
			<!-- BELOW IS BILLING INFORMATION -->
			<br>
			<hr>
			<h4>Billing Information</h4>
			Is your shipping and billing information the same? <input id="shipAddSame" type="checkbox" ng-model="isChecked" ng-checked="isSame()">

			<div id="billingInfo">
				<div class="row">
					<div class="six columns">
						<label for="billName">Name: </label> <input class="u-full-width" ng-model="bill.name" 
							id="billName" type="text" required />
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<label for="billAdd">Address: </label> <input class="u-full-width" ng-model="bill.add" 
							id="billAdd" type="text" required />
					</div>
					<div class="six columns">
						<label for="billAdd2">Address 2: </label> <input class="u-full-width" ng-model="bill.add2"  
						id="billAdd2" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="six columns">
							<label for="billCity">City: </label> <input class="u-full-width" ng-model="bill.city" 
							id="billCity" type="text" required />
					</div>
					<div class="six columns">
						<label for="billState">State: </label> 
							<select required class="u-full-width" id="shipState" ng-model="bill.state">
							  	<option value="">Select State</option>
								<option value="AL">Alabama</option>
								<option value="AK">Alaska</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DE">Delaware</option>
								<option value="DC">District Of Columbia</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="HI">Hawaii</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
						     </select>
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<label for="billZip">Zip: </label> <input class="u-full-width" ng-model="bill.zip" 
							id="shipZip" type="number" required />
					</div>
					<div class="six columns">
						<label for="billPhone">Phone: </label> <input class="u-full-width" ng-model="bill.phone" 
							id="billPhone" type="tel" required />
					</div>
				</div>
			</div>
			<br>
			<hr>
			<h4>Payment Information</h4>
			<div id="paymentInfo">
				<div class="row">
					<div class="six columns">
						<label for="ccType">Type: </label> 
						<select required class="u-full-width" id="ccType">
							<option value="">Select Type</option>
							<option value="Visa">Visa</option>
							<option value="Mastercard">Mastercard</option>
						</select>
					</div>
					<div class="six columns">
						<label for="ccNum">Credit Card Number: </label> <input class="u-full-width"
							id="ccNum" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" required />
					</div>
				</div>
				<div class="row">
					<div class="six columns">
						<label for="ccCode">Expiration Date: </label> <input class="u-full-width"
							id="ccCode" type="text" placeholder="01/2016" required />
					</div>
					<div class="six columns">
						<label for="ccCode">Security Code: </label> <input class="u-full-width"
							id="ccCode" type="text" placeholder="xxx" required />
					</div>
				</div>
			</div>
			<br>
			<hr>
			<h4>Order Summary</h4>
			<div id="cartListing">
				<div id="cartList">
					<table id="tblCartList">
						<thead>
							<tr>
								<th>Item</th>
								<th>Brand</th>
								<th>Model</th>
								<th>Price</th>
								<th>Qty</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in cartList">
								<td><img id="productImg" ng-src="productimages/{{ product.image }}" /></td>
								<td>{{ product.name }}</td>
								<td>{{ product.vendorModel }}</td>
								<td ng-init="itemTotal = product.retail * product.qty;">${{itemTotal.toFixed(2);}} </td>
								<td>{{ product.qty }}</td>
							</tr>
						</tbody>
					</table>
					<div id="totals">
						<div id="totalAmount">Total: ${{ total }}</div>
						<button ng-click="cancel()">Cancel</button>
						<br>
						<button type="submit" class="button-primary">Submit Order</button>
					</div>
				</div>
			</div>
	</form>
</div>
<br>
<div id="confirmation" ng-show="showConfirm">
	<h2>Your Order has been successfully submitted!</h2>
	<button ng-click="goHome()">Go back to Store and keep shopping!</button>
</div>